
@if(TempData["sucess"] != null ){
   <script src="~/lib/jquery/dist/jquery.min.js"></script> 

    <script src = "//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js" ></script>

   <script type="text/javascript">
toastr.success('@TempData["sucess"]'); 
</script>
<h2>@TempData["sucess"]</h2>
    
 
}
@if(TempData["error"] != null ){

   <script src="~\lib\jquery\dist\jquery.min.js"></script> 

    <script src = "//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js" ></script>

   <script type="text/javascript">
toastr.success('@TempData["error"]');
    
   </script>
   <h2>@TempData["error"]</h2>
}